In [60]:
import os
import pathlib


path=os.path.join(str(pathlib.Path().resolve()))+"/"

In [61]:
import pandas as pd


dfN = pd.read_csv(path+"Nvidia_Market.csv")
dfR = pd.read_csv(path+"nvidia_reveneu.csv")

In [62]:
dfR

    date country       money latitude longitude
0   2020  Taiwan  3025000000    23,70    120,96
1   2020   China  2731000000    35,86    104,20
2   2020     U.S   886000000    37,09    -95,71
3   2021  Taiwan  4531000000    23,70    120,96
4   2021   China  3886000000    35,86    104,20
5   2021     U.S  3214000000    37,09    -95,71
6   2022  Taiwan  8544000000    23,70    120,96
7   2022   China  7111000000    35,86    104,20
8   2022     U.S  4349000000    37,09    -95,71
9   2023  Taiwan  6986000000    23,70    120,96
10  2023   China  5785000000    35,86    104,20
11  2023     U.S  8292000000    37,09    -95,71

In [63]:
import numpy as np


dfY = pd.DataFrame(np.unique(pd.DatetimeIndex(dfN['Fecha']).year)).reset_index()
dfY = dfY.rename(columns={"index":"idYear",dfY.columns[1]:"Year"})
dfY

    idYear  Year
0        0  2014
1        1  2015
2        2  2016
3        3  2017
4        4  2018
5        5  2019
6        6  2020
7        7  2021
8        8  2022
9        9  2023
10      10  2024

In [65]:
import pandas as pd

# Asegúrate de que 'Year' en dfY y el año en 'Fecha' en dfN sean del mismo tipo
dfY['Year'] = dfY['Year'].astype(int)
dfR['Year'] = dfR['date']
dfN['Year'] = pd.DatetimeIndex(dfN['Fecha']).year

# Realiza un merge en 'Year' para combinar los datos
dfN = pd.merge(dfN, dfY[['idYear','Year']], on='Year', how='left')

dfR = pd.merge(dfR, dfY[['idYear','Year']], on='Year', how='left')

In [69]:
dfY=dfY.set_index('idYear')

        Year
idYear
0       2014
1       2015
2       2016
3       2017
4       2018
5       2019
6       2020
7       2021
8       2022
9       2023
10      2024

In [70]:
dfN.to_csv(path+"Nvidia_Market.csv")
dfR.to_csv(path+"nvidia_reveneu.csv")
dfY.to_csv(path+"nvidia_market_reveneu.csv")